@import "../utilities/_index";
.testimonial {
  padding: 4rem;
  @media (max-width: 768px) {
    padding: 4rem 0;
  }
  &--icon {
  }
  &--content {
    margin: 3rem 0;
    width: 70%;
    @media (max-width:992px){
      width:100%;
      margin: 2rem 0;
    }
    h3 {
      font-weight: 500;
      font-size: 1.8rem;
      color: #222a41;
      margin: 0;
      @media (max-width: 768px){
        font-size: 1.3rem;
        line-height: 1.5;
      }
    }
  }
  &--users {
    @include flexCenter($j: flex-start);
  }
  .users {
    &--item {
      cursor: pointer;
      &.active {
        .users--avatar {
          border-color: #1ec186;
        }
      }
    }
    &--avatar {
      @include borderRadius(50%, 50%, 50%, 50%);
      width: 65px;
      height: 65px;
      overflow: hidden;
      border: 4px solid #d3d3d3;
      margin-right: 1rem;
      &-img {
        width: 100%;
      }
    }
  }
  &--usersName {
    margin-top: 1rem;
    h4,
    p {
      font-weight: normal;
      margin: 0;
    }
    h4 {
      margin-bottom: 0.25rem;
      font-size: 1.25rem;
    }
  }
}
